[submodule "usecase/confluence-mcp"]
	path = usecase/confluence-mcp
	url = ../confluence-mcp.git
[submodule "usecase/jira-mcp"]
        path = usecase/jira-mcp
	url = ../jira-mcp.git
[submodule "usecase/sonarqube-mcp"]
        path = usecase/sonarqube-mcp
	url = ../sonarqube-mcp.git
[submodule "usecase/sonatypeiq-mcp"]
        path = usecase/sonatypeiq-mcp
	url = ../sonatypeiq-mcp.git
[submodule "usecase/nexus-mcp"]
        path = usecase/nexus-mcp
	url = ../nexus-mcp.git
[submodule "usecase/telegram-mcp"]
        path = usecase/telegram-mcp
        url = ../telegram-mcp.git
