[submodule "use-cases/confluence-mcp"]
	path = use-cases/confluence-mcp
	url = ../confluence-mcp.git
[submodule "use-cases/jira-mcp"]
        path = use-cases/jira-mcp
	url = ../jira-mcp.git
[submodule "use-cases/sonarqube-mcp"]
        path = use-cases/sonarqube-mcp
	url = ../sonarqube-mcp.git
[submodule "use-cases/sonatypeiq-mcp"]
        path = use-cases/sonatypeiq-mcp
	url = ../sonatypeiq-mcp.git
[submodule "use-cases/nexus-mcp"]
        path = use-cases/nexus-mcp
	url = ../nexus-mcp.git
[submodule "use-cases/telegram-mcp"]
        path = use-cases/telegram-mcp
        url = ../telegram-mcp.git
