{
  "openapi": "3.1.0",
  "info": {
    "title": "Telegram MTProto API",
    "description": "OpenAPI specification generated from the Telegram MTProto schema. Each RPC method is exposed as a POST endpoint. This is a low-level protocol mapping; see the [Telegram API documentation](https://core.telegram.org/api) for protocol details.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot<token>",
      "description": "Telegram API endpoint"
    }
  ],
  "tags": [
    {
      "name": "messages",
      "description": "messages.* methods (142 RPC calls)"
    },
    {
      "name": "account",
      "description": "account.* methods (71 RPC calls)"
    },
    {
      "name": "channels",
      "description": "channels.* methods (38 RPC calls)"
    },
    {
      "name": "phone",
      "description": "phone.* methods (28 RPC calls)"
    },
    {
      "name": "help",
      "description": "help.* methods (22 RPC calls)"
    },
    {
      "name": "contacts",
      "description": "contacts.* methods (20 RPC calls)"
    },
    {
      "name": "auth",
      "description": "auth.* methods (19 RPC calls)"
    },
    {
      "name": "upload",
      "description": "upload.* methods (8 RPC calls)"
    },
    {
      "name": "root",
      "description": "root.* methods (7 RPC calls)"
    },
    {
      "name": "payments",
      "description": "payments.* methods (7 RPC calls)"
    },
    {
      "name": "stickers",
      "description": "stickers.* methods (7 RPC calls)"
    },
    {
      "name": "bots",
      "description": "bots.* methods (5 RPC calls)"
    },
    {
      "name": "langpack",
      "description": "langpack.* methods (5 RPC calls)"
    },
    {
      "name": "stats",
      "description": "stats.* methods (5 RPC calls)"
    },
    {
      "name": "photos",
      "description": "photos.* methods (4 RPC calls)"
    },
    {
      "name": "users",
      "description": "users.* methods (3 RPC calls)"
    },
    {
      "name": "updates",
      "description": "updates.* methods (3 RPC calls)"
    },
    {
      "name": "folders",
      "description": "folders.* methods (1 RPC calls)"
    }
  ],
  "paths": {
    "/rpc/invokeAfterMsg": {
      "post": {
        "operationId": "invokeAfterMsg",
        "summary": "Invoke invokeAfterMsg",
        "description": "MTProto RPC method: invokeAfterMsg\n\nReturns: X",
        "tags": [
          "root"
        ],
        "responses": {
          "200": {
            "description": "Successful response (X)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: X"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msg_id": {
                    "type": "integer"
                  },
                  "query": {
                    "type": "object",
                    "description": "Polymorphic type parameter"
                  }
                },
                "required": [
                  "msg_id",
                  "query"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/invokeAfterMsgs": {
      "post": {
        "operationId": "invokeAfterMsgs",
        "summary": "Invoke invokeAfterMsgs",
        "description": "MTProto RPC method: invokeAfterMsgs\n\nReturns: X",
        "tags": [
          "root"
        ],
        "responses": {
          "200": {
            "description": "Successful response (X)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: X"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msg_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "query": {
                    "type": "object",
                    "description": "Polymorphic type parameter"
                  }
                },
                "required": [
                  "msg_ids",
                  "query"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/auth.sendCode": {
      "post": {
        "operationId": "authSendcode",
        "summary": "Invoke auth.sendCode",
        "description": "MTProto RPC method: auth.sendCode\n\nReturns: auth.SentCode",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (auth.SentCode)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: auth.SentCode"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string"
                  },
                  "api_id": {
                    "type": "integer"
                  },
                  "api_hash": {
                    "type": "string"
                  },
                  "settings": {
                    "type": "object",
                    "description": "MTProto type: CodeSettings"
                  }
                },
                "required": [
                  "phone_number",
                  "api_id",
                  "api_hash",
                  "settings"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/auth.signUp": {
      "post": {
        "operationId": "authSignup",
        "summary": "Invoke auth.signUp",
        "description": "MTProto RPC method: auth.signUp\n\nReturns: auth.Authorization",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (auth.Authorization)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: auth.Authorization"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string"
                  },
                  "phone_code_hash": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "phone_number",
                  "phone_code_hash",
                  "first_name",
                  "last_name"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/auth.signIn": {
      "post": {
        "operationId": "authSignin",
        "summary": "Invoke auth.signIn",
        "description": "MTProto RPC method: auth.signIn\n\nReturns: auth.Authorization",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (auth.Authorization)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: auth.Authorization"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string"
                  },
                  "phone_code_hash": {
                    "type": "string"
                  },
                  "phone_code": {
                    "type": "string"
                  }
                },
                "required": [
                  "phone_number",
                  "phone_code_hash",
                  "phone_code"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/auth.logOut": {
      "post": {
        "operationId": "authLogout",
        "summary": "Invoke auth.logOut",
        "description": "MTProto RPC method: auth.logOut\n\nReturns: Bool",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/auth.resetAuthorizations": {
      "post": {
        "operationId": "authResetauthorizations",
        "summary": "Invoke auth.resetAuthorizations",
        "description": "MTProto RPC method: auth.resetAuthorizations\n\nReturns: Bool",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/auth.exportAuthorization": {
      "post": {
        "operationId": "authExportauthorization",
        "summary": "Invoke auth.exportAuthorization",
        "description": "MTProto RPC method: auth.exportAuthorization\n\nReturns: auth.ExportedAuthorization",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (auth.ExportedAuthorization)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: auth.ExportedAuthorization"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dc_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "dc_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/auth.importAuthorization": {
      "post": {
        "operationId": "authImportauthorization",
        "summary": "Invoke auth.importAuthorization",
        "description": "MTProto RPC method: auth.importAuthorization\n\nReturns: auth.Authorization",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (auth.Authorization)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: auth.Authorization"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "bytes": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "required": [
                  "id",
                  "bytes"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/auth.bindTempAuthKey": {
      "post": {
        "operationId": "authBindtempauthkey",
        "summary": "Invoke auth.bindTempAuthKey",
        "description": "MTProto RPC method: auth.bindTempAuthKey\n\nReturns: Bool",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "perm_auth_key_id": {
                    "type": "integer"
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "expires_at": {
                    "type": "integer"
                  },
                  "encrypted_message": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "required": [
                  "perm_auth_key_id",
                  "nonce",
                  "expires_at",
                  "encrypted_message"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/account.registerDevice": {
      "post": {
        "operationId": "accountRegisterdevice",
        "summary": "Invoke account.registerDevice",
        "description": "MTProto RPC method: account.registerDevice\n\nReturns: Bool",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "no_muted": {
                    "type": "boolean"
                  },
                  "token_type": {
                    "type": "integer"
                  },
                  "token": {
                    "type": "string"
                  },
                  "app_sandbox": {
                    "type": "boolean"
                  },
                  "secret": {
                    "type": "string",
                    "format": "byte"
                  },
                  "other_uids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "token_type",
                  "token",
                  "app_sandbox",
                  "secret",
                  "other_uids"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/account.unregisterDevice": {
      "post": {
        "operationId": "accountUnregisterdevice",
        "summary": "Invoke account.unregisterDevice",
        "description": "MTProto RPC method: account.unregisterDevice\n\nReturns: Bool",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token_type": {
                    "type": "integer"
                  },
                  "token": {
                    "type": "string"
                  },
                  "other_uids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "token_type",
                  "token",
                  "other_uids"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/account.updateNotifySettings": {
      "post": {
        "operationId": "accountUpdatenotifysettings",
        "summary": "Invoke account.updateNotifySettings",
        "description": "MTProto RPC method: account.updateNotifySettings\n\nReturns: Bool",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputNotifyPeer"
                  },
                  "settings": {
                    "type": "object",
                    "description": "MTProto type: InputPeerNotifySettings"
                  }
                },
                "required": [
                  "peer",
                  "settings"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/account.getNotifySettings": {
      "post": {
        "operationId": "accountGetnotifysettings",
        "summary": "Invoke account.getNotifySettings",
        "description": "MTProto RPC method: account.getNotifySettings\n\nReturns: PeerNotifySettings",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (PeerNotifySettings)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: PeerNotifySettings"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputNotifyPeer"
                  }
                },
                "required": [
                  "peer"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/account.resetNotifySettings": {
      "post": {
        "operationId": "accountResetnotifysettings",
        "summary": "Invoke account.resetNotifySettings",
        "description": "MTProto RPC method: account.resetNotifySettings\n\nReturns: Bool",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/account.updateProfile": {
      "post": {
        "operationId": "accountUpdateprofile",
        "summary": "Invoke account.updateProfile",
        "description": "MTProto RPC method: account.updateProfile\n\nReturns: User",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (User)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: User"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "about": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rpc/account.updateStatus": {
      "post": {
        "operationId": "accountUpdatestatus",
        "summary": "Invoke account.updateStatus",
        "description": "MTProto RPC method: account.updateStatus\n\nReturns: Bool",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offline": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "offline"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/account.getWallPapers": {
      "post": {
        "operationId": "accountGetwallpapers",
        "summary": "Invoke account.getWallPapers",
        "description": "MTProto RPC method: account.getWallPapers\n\nReturns: account.WallPapers",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (account.WallPapers)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: account.WallPapers"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "integer"
                  }
                },
                "required": [
                  "hash"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/account.reportPeer": {
      "post": {
        "operationId": "accountReportpeer",
        "summary": "Invoke account.reportPeer",
        "description": "MTProto RPC method: account.reportPeer\n\nReturns: Bool",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "reason": {
                    "type": "object",
                    "description": "MTProto type: ReportReason"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "peer",
                  "reason",
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/users.getUsers": {
      "post": {
        "operationId": "usersGetusers",
        "summary": "Invoke users.getUsers",
        "description": "MTProto RPC method: users.getUsers\n\nReturns: Vector<User>",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Vector<User>)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Vector<User>"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: InputUser"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/users.getFullUser": {
      "post": {
        "operationId": "usersGetfulluser",
        "summary": "Invoke users.getFullUser",
        "description": "MTProto RPC method: users.getFullUser\n\nReturns: UserFull",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "Successful response (UserFull)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: UserFull"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "object",
                    "description": "MTProto type: InputUser"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.getContactIDs": {
      "post": {
        "operationId": "contactsGetcontactids",
        "summary": "Invoke contacts.getContactIDs",
        "description": "MTProto RPC method: contacts.getContactIDs\n\nReturns: Vector<int>",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Vector<int>)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Vector<int>"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "integer"
                  }
                },
                "required": [
                  "hash"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.getStatuses": {
      "post": {
        "operationId": "contactsGetstatuses",
        "summary": "Invoke contacts.getStatuses",
        "description": "MTProto RPC method: contacts.getStatuses\n\nReturns: Vector<ContactStatus>",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Vector<ContactStatus>)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Vector<ContactStatus>"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.getContacts": {
      "post": {
        "operationId": "contactsGetcontacts",
        "summary": "Invoke contacts.getContacts",
        "description": "MTProto RPC method: contacts.getContacts\n\nReturns: contacts.Contacts",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (contacts.Contacts)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: contacts.Contacts"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "integer"
                  }
                },
                "required": [
                  "hash"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.importContacts": {
      "post": {
        "operationId": "contactsImportcontacts",
        "summary": "Invoke contacts.importContacts",
        "description": "MTProto RPC method: contacts.importContacts\n\nReturns: contacts.ImportedContacts",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (contacts.ImportedContacts)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: contacts.ImportedContacts"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: InputContact"
                    }
                  }
                },
                "required": [
                  "contacts"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.deleteContacts": {
      "post": {
        "operationId": "contactsDeletecontacts",
        "summary": "Invoke contacts.deleteContacts",
        "description": "MTProto RPC method: contacts.deleteContacts\n\nReturns: Updates",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: InputUser"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.deleteByPhones": {
      "post": {
        "operationId": "contactsDeletebyphones",
        "summary": "Invoke contacts.deleteByPhones",
        "description": "MTProto RPC method: contacts.deleteByPhones\n\nReturns: Bool",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "phones"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.block": {
      "post": {
        "operationId": "contactsBlock",
        "summary": "Invoke contacts.block",
        "description": "MTProto RPC method: contacts.block\n\nReturns: Bool",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.unblock": {
      "post": {
        "operationId": "contactsUnblock",
        "summary": "Invoke contacts.unblock",
        "description": "MTProto RPC method: contacts.unblock\n\nReturns: Bool",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/contacts.getBlocked": {
      "post": {
        "operationId": "contactsGetblocked",
        "summary": "Invoke contacts.getBlocked",
        "description": "MTProto RPC method: contacts.getBlocked\n\nReturns: contacts.Blocked",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response (contacts.Blocked)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: contacts.Blocked"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                },
                "required": [
                  "offset",
                  "limit"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.getMessages": {
      "post": {
        "operationId": "messagesGetmessages",
        "summary": "Invoke messages.getMessages",
        "description": "MTProto RPC method: messages.getMessages\n\nReturns: messages.Messages",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.Messages)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.Messages"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: InputMessage"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.getDialogs": {
      "post": {
        "operationId": "messagesGetdialogs",
        "summary": "Invoke messages.getDialogs",
        "description": "MTProto RPC method: messages.getDialogs\n\nReturns: messages.Dialogs",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.Dialogs)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.Dialogs"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exclude_pinned": {
                    "type": "boolean"
                  },
                  "folder_id": {
                    "type": "integer"
                  },
                  "offset_date": {
                    "type": "integer"
                  },
                  "offset_id": {
                    "type": "integer"
                  },
                  "offset_peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "hash": {
                    "type": "integer"
                  }
                },
                "required": [
                  "offset_date",
                  "offset_id",
                  "offset_peer",
                  "limit",
                  "hash"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.getHistory": {
      "post": {
        "operationId": "messagesGethistory",
        "summary": "Invoke messages.getHistory",
        "description": "MTProto RPC method: messages.getHistory\n\nReturns: messages.Messages",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.Messages)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.Messages"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "offset_id": {
                    "type": "integer"
                  },
                  "offset_date": {
                    "type": "integer"
                  },
                  "add_offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "max_id": {
                    "type": "integer"
                  },
                  "min_id": {
                    "type": "integer"
                  },
                  "hash": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "offset_id",
                  "offset_date",
                  "add_offset",
                  "limit",
                  "max_id",
                  "min_id",
                  "hash"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.search": {
      "post": {
        "operationId": "messagesSearch",
        "summary": "Invoke messages.search",
        "description": "MTProto RPC method: messages.search\n\nReturns: messages.Messages",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.Messages)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.Messages"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "q": {
                    "type": "string"
                  },
                  "from_id": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "top_msg_id": {
                    "type": "integer"
                  },
                  "filter": {
                    "type": "object",
                    "description": "MTProto type: MessagesFilter"
                  },
                  "min_date": {
                    "type": "integer"
                  },
                  "max_date": {
                    "type": "integer"
                  },
                  "offset_id": {
                    "type": "integer"
                  },
                  "add_offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "max_id": {
                    "type": "integer"
                  },
                  "min_id": {
                    "type": "integer"
                  },
                  "hash": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "q",
                  "filter",
                  "min_date",
                  "max_date",
                  "offset_id",
                  "add_offset",
                  "limit",
                  "max_id",
                  "min_id",
                  "hash"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.readHistory": {
      "post": {
        "operationId": "messagesReadhistory",
        "summary": "Invoke messages.readHistory",
        "description": "MTProto RPC method: messages.readHistory\n\nReturns: messages.AffectedMessages",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.AffectedMessages)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.AffectedMessages"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "max_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "max_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.deleteHistory": {
      "post": {
        "operationId": "messagesDeletehistory",
        "summary": "Invoke messages.deleteHistory",
        "description": "MTProto RPC method: messages.deleteHistory\n\nReturns: messages.AffectedHistory",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.AffectedHistory)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.AffectedHistory"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "just_clear": {
                    "type": "boolean"
                  },
                  "revoke": {
                    "type": "boolean"
                  },
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "max_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "max_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.deleteMessages": {
      "post": {
        "operationId": "messagesDeletemessages",
        "summary": "Invoke messages.deleteMessages",
        "description": "MTProto RPC method: messages.deleteMessages\n\nReturns: messages.AffectedMessages",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.AffectedMessages)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.AffectedMessages"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "revoke": {
                    "type": "boolean"
                  },
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.receivedMessages": {
      "post": {
        "operationId": "messagesReceivedmessages",
        "summary": "Invoke messages.receivedMessages",
        "description": "MTProto RPC method: messages.receivedMessages\n\nReturns: Vector<ReceivedNotifyMessage>",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Vector<ReceivedNotifyMessage>)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Vector<ReceivedNotifyMessage>"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "max_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "max_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.setTyping": {
      "post": {
        "operationId": "messagesSettyping",
        "summary": "Invoke messages.setTyping",
        "description": "MTProto RPC method: messages.setTyping\n\nReturns: Bool",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "top_msg_id": {
                    "type": "integer"
                  },
                  "action": {
                    "type": "object",
                    "description": "MTProto type: SendMessageAction"
                  }
                },
                "required": [
                  "peer",
                  "action"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.sendMessage": {
      "post": {
        "operationId": "messagesSendmessage",
        "summary": "Invoke messages.sendMessage",
        "description": "MTProto RPC method: messages.sendMessage\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "no_webpage": {
                    "type": "boolean"
                  },
                  "silent": {
                    "type": "boolean"
                  },
                  "background": {
                    "type": "boolean"
                  },
                  "clear_draft": {
                    "type": "boolean"
                  },
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "reply_to_msg_id": {
                    "type": "integer"
                  },
                  "message": {
                    "type": "string"
                  },
                  "random_id": {
                    "type": "integer"
                  },
                  "reply_markup": {
                    "type": "object",
                    "description": "MTProto type: ReplyMarkup"
                  },
                  "entities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: MessageEntity"
                    }
                  },
                  "schedule_date": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "message",
                  "random_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.sendMedia": {
      "post": {
        "operationId": "messagesSendmedia",
        "summary": "Invoke messages.sendMedia",
        "description": "MTProto RPC method: messages.sendMedia\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "silent": {
                    "type": "boolean"
                  },
                  "background": {
                    "type": "boolean"
                  },
                  "clear_draft": {
                    "type": "boolean"
                  },
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "reply_to_msg_id": {
                    "type": "integer"
                  },
                  "media": {
                    "type": "object",
                    "description": "MTProto type: InputMedia"
                  },
                  "message": {
                    "type": "string"
                  },
                  "random_id": {
                    "type": "integer"
                  },
                  "reply_markup": {
                    "type": "object",
                    "description": "MTProto type: ReplyMarkup"
                  },
                  "entities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: MessageEntity"
                    }
                  },
                  "schedule_date": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "media",
                  "message",
                  "random_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.forwardMessages": {
      "post": {
        "operationId": "messagesForwardmessages",
        "summary": "Invoke messages.forwardMessages",
        "description": "MTProto RPC method: messages.forwardMessages\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "silent": {
                    "type": "boolean"
                  },
                  "background": {
                    "type": "boolean"
                  },
                  "with_my_score": {
                    "type": "boolean"
                  },
                  "drop_author": {
                    "type": "boolean"
                  },
                  "drop_media_captions": {
                    "type": "boolean"
                  },
                  "from_peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "random_id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "to_peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "schedule_date": {
                    "type": "integer"
                  }
                },
                "required": [
                  "from_peer",
                  "id",
                  "random_id",
                  "to_peer"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.reportSpam": {
      "post": {
        "operationId": "messagesReportspam",
        "summary": "Invoke messages.reportSpam",
        "description": "MTProto RPC method: messages.reportSpam\n\nReturns: Bool",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  }
                },
                "required": [
                  "peer"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.getPeerSettings": {
      "post": {
        "operationId": "messagesGetpeersettings",
        "summary": "Invoke messages.getPeerSettings",
        "description": "MTProto RPC method: messages.getPeerSettings\n\nReturns: PeerSettings",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (PeerSettings)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: PeerSettings"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  }
                },
                "required": [
                  "peer"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.report": {
      "post": {
        "operationId": "messagesReport",
        "summary": "Invoke messages.report",
        "description": "MTProto RPC method: messages.report\n\nReturns: Bool",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputPeer"
                  },
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "reason": {
                    "type": "object",
                    "description": "MTProto type: ReportReason"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "peer",
                  "id",
                  "reason",
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.getChats": {
      "post": {
        "operationId": "messagesGetchats",
        "summary": "Invoke messages.getChats",
        "description": "MTProto RPC method: messages.getChats\n\nReturns: messages.Chats",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.Chats)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.Chats"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.getFullChat": {
      "post": {
        "operationId": "messagesGetfullchat",
        "summary": "Invoke messages.getFullChat",
        "description": "MTProto RPC method: messages.getFullChat\n\nReturns: messages.ChatFull",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.ChatFull)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.ChatFull"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "chat_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.editChatTitle": {
      "post": {
        "operationId": "messagesEditchattitle",
        "summary": "Invoke messages.editChatTitle",
        "description": "MTProto RPC method: messages.editChatTitle\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "required": [
                  "chat_id",
                  "title"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.editChatPhoto": {
      "post": {
        "operationId": "messagesEditchatphoto",
        "summary": "Invoke messages.editChatPhoto",
        "description": "MTProto RPC method: messages.editChatPhoto\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "integer"
                  },
                  "photo": {
                    "type": "object",
                    "description": "MTProto type: InputChatPhoto"
                  }
                },
                "required": [
                  "chat_id",
                  "photo"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.addChatUser": {
      "post": {
        "operationId": "messagesAddchatuser",
        "summary": "Invoke messages.addChatUser",
        "description": "MTProto RPC method: messages.addChatUser\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "object",
                    "description": "MTProto type: InputUser"
                  },
                  "fwd_limit": {
                    "type": "integer"
                  }
                },
                "required": [
                  "chat_id",
                  "user_id",
                  "fwd_limit"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.deleteChatUser": {
      "post": {
        "operationId": "messagesDeletechatuser",
        "summary": "Invoke messages.deleteChatUser",
        "description": "MTProto RPC method: messages.deleteChatUser\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "revoke_history": {
                    "type": "boolean"
                  },
                  "chat_id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "object",
                    "description": "MTProto type: InputUser"
                  }
                },
                "required": [
                  "chat_id",
                  "user_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.createChat": {
      "post": {
        "operationId": "messagesCreatechat",
        "summary": "Invoke messages.createChat",
        "description": "MTProto RPC method: messages.createChat\n\nReturns: Updates",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Updates)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Updates"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: InputUser"
                    }
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "required": [
                  "users",
                  "title"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/updates.getState": {
      "post": {
        "operationId": "updatesGetstate",
        "summary": "Invoke updates.getState",
        "description": "MTProto RPC method: updates.getState\n\nReturns: updates.State",
        "tags": [
          "updates"
        ],
        "responses": {
          "200": {
            "description": "Successful response (updates.State)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: updates.State"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/updates.getDifference": {
      "post": {
        "operationId": "updatesGetdifference",
        "summary": "Invoke updates.getDifference",
        "description": "MTProto RPC method: updates.getDifference\n\nReturns: updates.Difference",
        "tags": [
          "updates"
        ],
        "responses": {
          "200": {
            "description": "Successful response (updates.Difference)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: updates.Difference"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pts": {
                    "type": "integer"
                  },
                  "pts_total_limit": {
                    "type": "integer"
                  },
                  "date": {
                    "type": "integer"
                  },
                  "qts": {
                    "type": "integer"
                  }
                },
                "required": [
                  "pts",
                  "date",
                  "qts"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/photos.updateProfilePhoto": {
      "post": {
        "operationId": "photosUpdateprofilephoto",
        "summary": "Invoke photos.updateProfilePhoto",
        "description": "MTProto RPC method: photos.updateProfilePhoto\n\nReturns: photos.Photo",
        "tags": [
          "photos"
        ],
        "responses": {
          "200": {
            "description": "Successful response (photos.Photo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: photos.Photo"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "object",
                    "description": "MTProto type: InputPhoto"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/photos.uploadProfilePhoto": {
      "post": {
        "operationId": "photosUploadprofilephoto",
        "summary": "Invoke photos.uploadProfilePhoto",
        "description": "MTProto RPC method: photos.uploadProfilePhoto\n\nReturns: photos.Photo",
        "tags": [
          "photos"
        ],
        "responses": {
          "200": {
            "description": "Successful response (photos.Photo)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: photos.Photo"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fallback": {
                    "type": "boolean"
                  },
                  "file": {
                    "type": "object",
                    "description": "MTProto type: InputFile"
                  },
                  "video": {
                    "type": "object",
                    "description": "MTProto type: InputFile"
                  },
                  "video_start_ts": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rpc/photos.deletePhotos": {
      "post": {
        "operationId": "photosDeletephotos",
        "summary": "Invoke photos.deletePhotos",
        "description": "MTProto RPC method: photos.deletePhotos\n\nReturns: Vector<long>",
        "tags": [
          "photos"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Vector<long>)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Vector<long>"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "MTProto type: InputPhoto"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/upload.saveFilePart": {
      "post": {
        "operationId": "uploadSavefilepart",
        "summary": "Invoke upload.saveFilePart",
        "description": "MTProto RPC method: upload.saveFilePart\n\nReturns: Bool",
        "tags": [
          "upload"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_id": {
                    "type": "integer"
                  },
                  "file_part": {
                    "type": "integer"
                  },
                  "bytes": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "required": [
                  "file_id",
                  "file_part",
                  "bytes"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/upload.getFile": {
      "post": {
        "operationId": "uploadGetfile",
        "summary": "Invoke upload.getFile",
        "description": "MTProto RPC method: upload.getFile\n\nReturns: upload.File",
        "tags": [
          "upload"
        ],
        "responses": {
          "200": {
            "description": "Successful response (upload.File)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: upload.File"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "precise": {
                    "type": "boolean"
                  },
                  "cdn_supported": {
                    "type": "boolean"
                  },
                  "location": {
                    "type": "object",
                    "description": "MTProto type: InputFileLocation"
                  },
                  "offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                },
                "required": [
                  "location",
                  "offset",
                  "limit"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/help.getConfig": {
      "post": {
        "operationId": "helpGetconfig",
        "summary": "Invoke help.getConfig",
        "description": "MTProto RPC method: help.getConfig\n\nReturns: Config",
        "tags": [
          "help"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Config)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Config"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/help.getNearestDc": {
      "post": {
        "operationId": "helpGetnearestdc",
        "summary": "Invoke help.getNearestDc",
        "description": "MTProto RPC method: help.getNearestDc\n\nReturns: NearestDc",
        "tags": [
          "help"
        ],
        "responses": {
          "200": {
            "description": "Successful response (NearestDc)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: NearestDc"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/help.getAppUpdate": {
      "post": {
        "operationId": "helpGetappupdate",
        "summary": "Invoke help.getAppUpdate",
        "description": "MTProto RPC method: help.getAppUpdate\n\nReturns: help.AppUpdate",
        "tags": [
          "help"
        ],
        "responses": {
          "200": {
            "description": "Successful response (help.AppUpdate)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: help.AppUpdate"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string"
                  }
                },
                "required": [
                  "source"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/help.getInviteText": {
      "post": {
        "operationId": "helpGetinvitetext",
        "summary": "Invoke help.getInviteText",
        "description": "MTProto RPC method: help.getInviteText\n\nReturns: help.InviteText",
        "tags": [
          "help"
        ],
        "responses": {
          "200": {
            "description": "Successful response (help.InviteText)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: help.InviteText"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/photos.getUserPhotos": {
      "post": {
        "operationId": "photosGetuserphotos",
        "summary": "Invoke photos.getUserPhotos",
        "description": "MTProto RPC method: photos.getUserPhotos\n\nReturns: photos.Photos",
        "tags": [
          "photos"
        ],
        "responses": {
          "200": {
            "description": "Successful response (photos.Photos)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: photos.Photos"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "object",
                    "description": "MTProto type: InputUser"
                  },
                  "offset": {
                    "type": "integer"
                  },
                  "max_id": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id",
                  "offset",
                  "max_id",
                  "limit"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.getDhConfig": {
      "post": {
        "operationId": "messagesGetdhconfig",
        "summary": "Invoke messages.getDhConfig",
        "description": "MTProto RPC method: messages.getDhConfig\n\nReturns: messages.DhConfig",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.DhConfig)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.DhConfig"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer"
                  },
                  "random_length": {
                    "type": "integer"
                  }
                },
                "required": [
                  "version",
                  "random_length"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.requestEncryption": {
      "post": {
        "operationId": "messagesRequestencryption",
        "summary": "Invoke messages.requestEncryption",
        "description": "MTProto RPC method: messages.requestEncryption\n\nReturns: EncryptedChat",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (EncryptedChat)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: EncryptedChat"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "object",
                    "description": "MTProto type: InputUser"
                  },
                  "random_id": {
                    "type": "integer"
                  },
                  "g_a": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "required": [
                  "user_id",
                  "random_id",
                  "g_a"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.acceptEncryption": {
      "post": {
        "operationId": "messagesAcceptencryption",
        "summary": "Invoke messages.acceptEncryption",
        "description": "MTProto RPC method: messages.acceptEncryption\n\nReturns: EncryptedChat",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (EncryptedChat)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: EncryptedChat"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputEncryptedChat"
                  },
                  "g_b": {
                    "type": "string",
                    "format": "byte"
                  },
                  "key_fingerprint": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "g_b",
                  "key_fingerprint"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.discardEncryption": {
      "post": {
        "operationId": "messagesDiscardencryption",
        "summary": "Invoke messages.discardEncryption",
        "description": "MTProto RPC method: messages.discardEncryption\n\nReturns: Bool",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delete_history": {
                    "type": "boolean"
                  },
                  "chat_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "chat_id"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.setEncryptedTyping": {
      "post": {
        "operationId": "messagesSetencryptedtyping",
        "summary": "Invoke messages.setEncryptedTyping",
        "description": "MTProto RPC method: messages.setEncryptedTyping\n\nReturns: Bool",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputEncryptedChat"
                  },
                  "typing": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "peer",
                  "typing"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.readEncryptedHistory": {
      "post": {
        "operationId": "messagesReadencryptedhistory",
        "summary": "Invoke messages.readEncryptedHistory",
        "description": "MTProto RPC method: messages.readEncryptedHistory\n\nReturns: Bool",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Bool)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Bool"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputEncryptedChat"
                  },
                  "max_date": {
                    "type": "integer"
                  }
                },
                "required": [
                  "peer",
                  "max_date"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.sendEncrypted": {
      "post": {
        "operationId": "messagesSendencrypted",
        "summary": "Invoke messages.sendEncrypted",
        "description": "MTProto RPC method: messages.sendEncrypted\n\nReturns: messages.SentEncryptedMessage",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.SentEncryptedMessage)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.SentEncryptedMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "silent": {
                    "type": "boolean"
                  },
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputEncryptedChat"
                  },
                  "random_id": {
                    "type": "integer"
                  },
                  "data": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "required": [
                  "peer",
                  "random_id",
                  "data"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.sendEncryptedFile": {
      "post": {
        "operationId": "messagesSendencryptedfile",
        "summary": "Invoke messages.sendEncryptedFile",
        "description": "MTProto RPC method: messages.sendEncryptedFile\n\nReturns: messages.SentEncryptedMessage",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.SentEncryptedMessage)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.SentEncryptedMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "silent": {
                    "type": "boolean"
                  },
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputEncryptedChat"
                  },
                  "random_id": {
                    "type": "integer"
                  },
                  "data": {
                    "type": "string",
                    "format": "byte"
                  },
                  "file": {
                    "type": "object",
                    "description": "MTProto type: InputEncryptedFile"
                  }
                },
                "required": [
                  "peer",
                  "random_id",
                  "data",
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.sendEncryptedService": {
      "post": {
        "operationId": "messagesSendencryptedservice",
        "summary": "Invoke messages.sendEncryptedService",
        "description": "MTProto RPC method: messages.sendEncryptedService\n\nReturns: messages.SentEncryptedMessage",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (messages.SentEncryptedMessage)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: messages.SentEncryptedMessage"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "peer": {
                    "type": "object",
                    "description": "MTProto type: InputEncryptedChat"
                  },
                  "random_id": {
                    "type": "integer"
                  },
                  "data": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "required": [
                  "peer",
                  "random_id",
                  "data"
                ]
              }
            }
          }
        }
      }
    },
    "/rpc/messages.receivedQueue": {
      "post": {
        "operationId": "messagesReceivedqueue",
        "summary": "Invoke messages.receivedQueue",
        "description": "MTProto RPC method: messages.receivedQueue\n\nReturns: Vector<long>",
        "tags": [
          "messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response (Vector<long>)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "MTProto return type: Vector<long>"
[...]
